@import "tailwindcss";

/* Define your design tokens here */
@theme {
  --color-primary: #007bff;
  --color-dark: #111827;
  --color-light: #f4faff;
  --color-accent: #ffb703;
  --color-muted: #6b7280;
}

/* Dark mode! */
.dark {
  @theme {
    --color-primary: #0056b3;
    --color-dark: #f4faff;
    --color-light: #111827;
    --color-muted: #9ca3af;
  }
}

body {
  @apply bg-light text-dark antialiased font-sans;
}

html {
    scroll-behavior: smooth;

}